
<ion-content>
  <div class="body flex-container">
    <div class="header">
      <ion-row>
        <div class="navbar">
          <div class="menu">
            <pre></pre>
            <pre></pre>
            <pre></pre>
          </div>
          <ion-col text-center>
            <p>goleran app</p>
          </ion-col>
        </div>
      </ion-row>
      <ion-row>
        <div class="profile-container">
          <ion-col>
            <div class="avatar">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
            </div>
          </ion-col>
          <ion-col>
            <div class="stats">
              <p class="vline">myName</p>
              <p class="vline">Professor</p>
              <p>xp100</p>
            </div>
          </ion-col>
        </div>
      </ion-row>
    
    </div>

    <ion-grid>
      <div class="none">
        <ion-row>
          <ion-col size="6">
                <pre>{{ items | json }}</pre>
    
                <p> Profesor</p>
                <p *ngFor="let item of score" > Training Point : {{ item.score }}</p>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col size="6">
          <ion-card class="card-item" [routerLink]="['/game']">
              <img src="../assets/icon/undraw_may_the_force_bgdm.png">
              <h4 class="ion-text-center">Battle</h4>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-item" [routerLink]="['/training']">
              <img src="../assets/icon/undraw_ideation_2a64.png">
              <h4 class="ion-text-center">Training</h4>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card class="card-item" [routerLink]="['/profile']">
              <img src="../assets/icon/undraw_profile_6l1l.png">
              <h4 class="ion-text-center">Profile</h4>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-item" (click)="logout()">
              <img src="../assets/icon/undraw_Login_v483.png">
              <h4 class="ion-text-center">Logout</h4>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>