<div class="body flex-container">
  <div class="header">
    <ion-row>
      <div class="navbar">
        <div class="menu">
          <ion-icon class="icon" [routerLink]="['/home']" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </div>
        <ion-col text-center>
          <p>History</p>
        </ion-col>
      </div>
    </ion-row>
  </div>
</div>

<ion-content>
  <div class="banner"></div>
  <div class="list">
    <ion-list *ngFor='let history of myHistory' [ngStyle]="{'background-color': history.player1 === history.winner ? '#03B263' : '#FF5733'}" >
      <div class="name">
        <span>{{ history.player1 }}</span>
        <span>vs</span> 
        <span>{{ history.player2 }}</span>
      </div>
      <h5>Winner : {{ history.winner }}</h5>
    </ion-list>
  </div>
</ion-content>