<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>1+1 = </ion-label><ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>1+2 = </ion-label><ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>2+1 = </ion-label><ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button></ion-button>
</ion-content>