<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Course List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Matematika</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bahasa Indonesia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bahasa Inggris</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pendidikan Kewarganegaraan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IPA</ion-label>
    </ion-item>
  </ion-list>
</ion-content>