<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <h3 class="ion-text-center">My Rank</h3>
      <ion-item>
        <ion-label>Level : Professor</ion-label> 
      </ion-item>

      <ion-item>
      <ion-label>Friend List</ion-label>
        <p>Bambang</p><ion-button>Battle</ion-button>
      </ion-item>
    </ion-list>
</ion-content>
