<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <h1 class="ion-text-center ion-padding-bottom">Firebase Auth</h1>
  <form #f="ngForm" (ngSubmit)="onLogin(f)">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Email</ion-label>
        <ion-input
          required
          ngModel
          name="email"
          type="email"
          placeholder="Your email here"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Password</ion-label>
        <ion-input
          required
          ngModel
          name="pwd"
          type="password"
          minlength='6'
          placeholder="******"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" [disabled]="!f.valid" type="submit">Login</ion-button>
    <ion-button expand="block" fill='clear' (click)='presentSignUpModal()'>Sign Up</ion-button>
  </form>
</ion-content>
