<div class="body flex-container">
  <div class="header">
    <ion-row>
      <div class="navbar">
        <div class="menu">
          <ion-icon class="icon" [routerLink]="['/home']" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </div>
        <ion-col text-center>
          <p>Battle</p>
        </ion-col>
      </div>
    </ion-row>
  </div>
</div>

<ion-content>
  <ng-template [ngIf]="content == ''" [ngIfElse]="battleon">
    <ion-button class="createroom" (click)="requestBattle()">Create Room !</ion-button>
  </ng-template>
  <ng-template #battleon>
    <div class="soal">
      <p>{{soal[0]}} {{operator}} {{soal[1]}}</p>
    </div>
    
    <div class="content">
      <div class="actionField">
        <ion-input class="form" [(ngModel)]="hasil" name="hasil"></ion-input>
    
        <ng-template [ngIf] = "questionNumber >= 10" [ngIfElse]="none"> 
        <!-- ^ Tambah jadi 10 ^ -->
        <ion-button (click)="submitAnswer(hasil)">Submit</ion-button>
        </ng-template>
        <ng-template #none>
          <ion-button class="next" (click)="nextPage(hasil)">Next</ion-button>
        </ng-template>
      </div>
    </div>
  </ng-template>
</ion-content>