<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" name="password"></ion-input>
  </ion-item>

  <ion-button [routerLink]="['/home']" expand="full" color="primary">
    LOGIN
  </ion-button>
  
  <p text-center>Don't have an account?</p>
  <ion-button [routerLink]="['/register']"  expand="full" color="danger">
    REGISTER
  </ion-button>

</ion-content>
