<div class="body flex-container">
  <div class="header">
    <ion-row>
      <div class="navbar">
        <div class="menu">
          <ion-icon class="icon" [routerLink]="['/home']" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </div>
        <ion-col text-center>
          <p>Training</p>
        </ion-col>
      </div>
    </ion-row>
  </div>
</div>

<ion-content>
  <div class="soal">
    <p>{{soal[0]}} {{operator}} {{soal[1]}}</p>
  </div>
  <div class="content">

    <div class="actionField">
      <ion-input class="form" [(ngModel)]="hasil" name="hasil"></ion-input>

      <ng-template [ngIf]="questionNumber >= 10" [ngIfElse]="none">
        <!-- ^ Tambah jadi 10 ^ -->
      </ng-template>
      <ng-template>
        <ion-button class="next" (click)="nextPage(hasil)" #none>Next</ion-button>
      </ng-template>

      <ion-button (click)="submitTraining(hasil)">Submit</ion-button>
    </div>
  </div>


</ion-content>