<ion-content>
  <div class="body flex-container">
    <div class="header">
      <ion-row>
        <div class="navbar">
          <div class="menu">
            <ion-icon class="icon" [routerLink]="['/home']" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </div>
          <ion-col text-center>
            <p>Profile</p>
          </ion-col>
        </div>
      </ion-row>
      <ion-row>
        <div class="profile-container">
          <ion-col>
            <div class="avatar">
              <img src="{{profileDetails['image']}}" />
            </div>
          </ion-col>
          <ion-col>
            <div class="stats">
              <p class="vline">{{ profileDetails['name'] }}</p>
              <p class="vline">{{ profileDetails['level'] }}</p>
              <p>Exp : {{ profileDetails['xp'] }}</p>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card-item" (click)="updateName()">
          <img src="../assets/icon/undraw_profile_data_mk6k.png">
          <h4 class="ion-text-center">Change Name</h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card class="card-item">
      <ion-row>
        <ion-col size="12">
          <div (click)="captureImage()">
            <h4 class="ion-text-center">Take a Selfie !</h4>
            <img src="../assets/icon/undraw_camera_mg5h.png">
          </div>
        </ion-col>
      </ion-row>
      <h5 class="ion-text-center">or</h5>
      <ion-row>
        <div>
          <h4 class="ion-text-center">Choose From Gallery</h4>
          <label for="upload">
            <img src="../assets/icon/undraw_posting_photo_v65l.png">
            <input type='file' id="upload" class="fileInput" (change)="onFileChosen($event)" />
          </label>
        </div>
        <span class="latest"></span>
      </ion-row>

    </ion-card>


  </ion-grid>
</ion-content>